MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

MYSQL_HOST=
MYSQL_PORT=

KAFKA_BOOTSTRAP_SERVERS=
KAFKA_TOPIC_PREFIX=

DEBEZIUM_SERVER_ID=
DEBEZIUM_DB_HOST=
DEBEZIUM_DB_PORT=
DEBEZIUM_DB_USER=
DEBEZIUM_DB_PASSWORD=
DEBEZIUM_DB_NAME=

SCHEMA_STORE_PATH=
DATA_LAKE_PATH=